<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>新浪网</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="新浪,新浪网,SINA,sina,sina.com.cn,新浪首页,门户,资讯" name="keywords">
        <meta content="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资讯、实用信息等，设有新闻、体育、娱乐、财经、科技、房产、汽车等30多个内容频道，同时开设博客、视频、论坛等自由互动交流空间。" name="description">

        <!-- Favicon -->
        <link rel="mask-icon" sizes="any" href="https://www.sina.com.cn/favicon.svg" color="red">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/static/lib/slick/slick.css" rel="stylesheet">
        <link href="/static/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Top Header Start -->
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="logo">
                            <a href="">
                                <img src="https://i1.sinaimg.cn/dy/deco/2013/0329/logo/LOGO_1x.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="search">
                            <input type="text" placeholder="搜索">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->


        <!-- Header Start -->
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav m-auto">
                            <a href="index.html" class="nav-item nav-link active">首页</a>
                            <a href="#" class="nav-item nav-link">体育</a>
                            <a href="#" class="nav-item nav-link">科技</a>
                            <a href="#" class="nav-item nav-link">时尚</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">更多</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">商业</a>
                                    <a href="#" class="dropdown-item">娱乐</a>
                                </div>
                            </div>
                            <a href="single-page.html" class="nav-item nav-link">单页</a>
                            <a href="contact.html" class="nav-item nav-link">联系我们</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Header End -->

        <!-- Top News Start-->
        <div class="top-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 tn-left">
                        <div class="tn-img">
                            <img src="{{LatestNews[0][3]}}" />
                            <div class="tn-content">
                                <div class="tn-content-inner">
                                    <a class="tn-date" href=""><i class="far fa-clock"></i>{{LatestNews[0][0]}}</a>
                                    <a class="tn-title" href="">{{LatestNews[0][2]}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 tn-right">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="{{LatestNews[1][3]}}" />
                                    <div class="tn-content">
                                        <div class="tn-content-inner">
                                            <a class="tn-date" href=""><i class="far fa-clock"></i>{{LatestNews[1][0]}}</a>
                                            <a class="tn-title" href="">{{LatestNews[1][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="{{LatestNews[2][3]}}" />
                                    <div class="tn-content">
                                        <div class="tn-content-inner">
                                            <a class="tn-date" href=""><i class="far fa-clock"></i>{{LatestNews[2][0]}}</a>
                                            <a class="tn-title" href="">{{LatestNews[2][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="{{LatestNews[3][3]}}" />
                                    <div class="tn-content">
                                        <div class="tn-content-inner">
                                            <a class="tn-date" href=""><i class="far fa-clock"></i>{{LatestNews[3][0]}}</a>
                                            <a class="tn-title" href="">{{LatestNews[3][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src="{{LatestNews[4][3]}}" />
                                    <div class="tn-content">
                                        <div class="tn-content-inner">
                                            <a class="tn-date" href=""><i class="far fa-clock"></i>{{LatestNews[4][0]}}</a>
                                            <a class="tn-title" href="">{{LatestNews[4][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->


        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h2><i class="fas fa-align-justify"></i>体育</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{SportsNews[0][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{SportsNews[0][0]}}</a>
                                            <a class="cn-title" href="">{{SportsNews[0][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{SportsNews[1][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{SportsNews[1][0]}}</a>
                                            <a class="cn-title" href="">{{SportsNews[1][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{SportsNews[2][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{SportsNews[2][0]}}</a>
                                            <a class="cn-title" href="">{{SportsNews[2][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2><i class="fas fa-align-justify"></i>科技</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{SportsNews[0][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{SportsNews[0][0]}}</a>
                                            <a class="cn-title" href="">{{SportsNews[0][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{SportsNews[1][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{SportsNews[1][0]}}</a>
                                            <a class="cn-title" href="">{{SportsNews[1][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{SportsNews[2][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{SportsNews[2][0]}}</a>
                                            <a class="cn-title" href="">{{SportsNews[2][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category News End-->


        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h2><i class="fas fa-align-justify"></i>商业</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{BusinessNews[0][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{BusinessNews[0][0]}}</a>
                                            <a class="cn-title" href="">{{BusinessNews[0][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{BusinessNews[1][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{BusinessNews[1][0]}}</a>
                                            <a class="cn-title" href="">{{BusinessNews[1][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{BusinessNews[2][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{BusinessNews[2][0]}}</a>
                                            <a class="cn-title" href="">{{BusinessNews[2][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2><i class="fas fa-align-justify"></i>娱乐</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{EntertainmentNews[0][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{EntertainmentNews[0][0]}}</a>
                                            <a class="cn-title" href="">{{EntertainmentNews[0][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{EntertainmentNews[3][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{EntertainmentNews[3][0]}}</a>
                                            <a class="cn-title" href="">{{EntertainmentNews[3][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="{{EntertainmentNews[2][3]}}" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>{{EntertainmentNews[2][0]}}</a>
                                            <a class="cn-title" href="">{{EntertainmentNews[2][2]}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category News End-->


        <!-- Main News Start-->
        <div class="main-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><i class="fas fa-align-justify"></i>新闻</h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mn-img_" style="position: relative;overflow: hidden;">
                                            <img src="{{LatestNews[0][3]}}" style="width: 100%;"/>
                                        </div>
                                        <div class="mn-content">
                                            <a class="mn-title" href="">{{LatestNews[0][2]}}</a>
                                            <a class="mn-date" href=""><i class="far fa-clock"></i>{{LatestNews[0][0]}}</a>
                                            <p>
                                                {{LatestNews[0][1]}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{LatestNews[1][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{LatestNews[1][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{LatestNews[1][0]}}</a>
                                            </div>
                                        </div>
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{LatestNews[2][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{LatestNews[2][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{LatestNews[2][0]}}</a>
                                            </div>
                                        </div>
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{LatestNews[3][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{LatestNews[3][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{LatestNews[3][0]}}</a>
                                            </div>
                                        </div>
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{LatestNews[4][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{LatestNews[4][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{LatestNews[4][0]}}</a>
                                            </div>
                                        </div>
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{LatestNews[5][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{LatestNews[5][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{LatestNews[5][0]}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h2><i class="fas fa-align-justify"></i>热门</h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mn-img_" style="position: relative;overflow: hidden;">
                                            <img src="{{RecommendedNews[0][3]}}" style="width: 100%;" />
                                        </div>
                                        <div class="mn-content">
                                            <a class="mn-title" href="">{{RecommendedNews[0][2]}}</a>
                                            <a class="mn-date" href=""><i class="far fa-clock"></i>{{RecommendedNews[0][0]}}</a>
                                            <p>
                                                {{RecommendedNews[0][1]}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{RecommendedNews[1][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{RecommendedNews[1][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{RecommendedNews[1][0]}}</a>
                                            </div>
                                        </div>
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{RecommendedNews[2][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{RecommendedNews[2][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{RecommendedNews[2][0]}}</a>
                                            </div>
                                        </div>
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{RecommendedNews[3][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{RecommendedNews[3][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{RecommendedNews[3][0]}}</a>
                                            </div>
                                        </div>
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{RecommendedNews[4][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{RecommendedNews[4][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{RecommendedNews[4][0]}}</a>
                                            </div>
                                        </div>
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src="{{RecommendedNews[5][3]}}" />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{RecommendedNews[5][2]}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{RecommendedNews[5][0]}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>分类</h2>
                                <div class="category">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">国内</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">国际</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">经济</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">政治</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">生活</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">科技</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">交易</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>标签</h2>
                                <div class="tags">
                                    <a href="">国内</a>
                                    <a href="">国际</a>
                                    <a href="">经济</a>
                                    <a href="">政治</a>
                                    <a href="">生活方式</a>
                                    <a href="">科技</a>
                                    <a href="">行业</a>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>关于我</h2>
                                <div class="image">
                                    <a href="https://github.com/RzMY"><img src="/static/img/me2.gif" alt="Image"></a>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>关于我</h2>
                                <div class="image">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="https://github.com/RzMY"><img src="/static/img/me1.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main News End-->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">友情链接</h3>
                            <ul>
                                <li><a href="#">新浪新闻</a></li>
                                <li><a href="#">腾讯新闻</a></li>
                                <li><a href="#">网易新闻</a></li>
                                <li><a href="#">搜狐新闻</a></li>
                                <li><a href="#">凤凰新闻</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">快速跳转</h3>
                            <ul>
                                <li><a href="#">新浪新闻</a></li>
                                <li><a href="#">新浪体育</a></li>
                                <li><a href="#">新浪娱乐</a></li>
                                <li><a href="#">新浪科技</a></li>
                                <li><a href="#">新浪财经</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">联系我们</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>四川农业大学</p>
                                <p><i class="fa fa-envelope"></i>qiu@dr.com</p>
                                <p><i class="fa fa-phone"></i>16666666666</p>
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook"></i></a>
                                    <a href=""><i class="fab fa-linkedin"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">业务合作</h3>
                            <div class="newsletter">
                                <p>
                                    微博月活用户5亿+，是一个承载了明星、社会、综艺、新时代、电竞、情感、汽车等多垂类兴趣人群的社会化舆论场。
                                </p>
                                <form>
                                    <input class="form-control" type="email" placeholder="邮箱">
                                    <button class="btn">提交</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="https://github.com/RzMY">RzMY</a>. All Rights Reserved</p>
                    </div>

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    <div class="col-md-6 template-by">
                        <p>Made By <a href="https://github.com/RzMY">RzMY</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->


        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/slick/slick.min.js"></script>


        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
    </body>
</html>
