<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新浪新闻数据统计可视化</title>
    <link rel="stylesheet" href="/static/css/visual.css">
</head>

<body>
    <div id="title">新浪新闻数据统计可视化</div>
    <div id="left1"></div>
    <div id="left2"></div>
    <div id="right1"></div>
    <div id="right2"></div>
    <script src="/static/js/echarts.min.js"></script>
    <!--left1-->
    <script>
        var left1Chart = echarts.init(document.getElementById('left1'), 'dark');

        var option = {
            title: {
                text: "所有新闻Top10评论量排行",
                textStyle: {
                    color: 'white',
                },
                left: 'center',
            },
            tooltip: {
                trigger: 'axis',
                //指示器
                axisPointer: {
                    type: 'line',
                    lineStyle: {
                        color: '#7171C6'
                    }
                },
            },
            //图例
            legend: {
                data: ['LatestNews', 'ChinaNews', 'WorldNews', 'SocialNews', 'SportsNews', 'BusinessNews', 'EntertainmentNews', 'TechnologyNews', 'MilitaryNews'],
                orient: 'horizontal',
                bottom: 10,
                padding: 10
            },
            //图形位置
            grid: {
                left: '4%',
                right: '6%',
                bottom: '15%',
                top: 50,
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                data: ["Top1", "Top2", "Top3", "Top4", "Top5", "Top6", "Top7", "Top8", "Top9", "Top10"],
            }],
            yAxis: [{
                type: 'value',
                //y轴字体设置
                axisLabel: {
                    show: true,
                    color: 'white',
                    fontSize: 12,
                    formatter: function(value) {
                        if (value >= 1000) {
                            value = value / 1000 + 'k';
                        }
                        return value;
                    }
                },
                //y轴线设置显示
                axisLine: {
                    show: true
                },
                //与x轴平行的线样式
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: '#17273B',
                        width: 1,
                        type: 'solid',
                    }
                }
            }],
            series: [
                {% for type, nums in comment_top10.items() %}
                {
                    name: "{{ type }}",
                    type: 'line',
                    smooth: true,
                    data: {{ nums }}
                },
                {% end %}
            ]
        };

        left1Chart.setOption(option);
    </script>
    <!--left2-->
    <script>
        var left2Chart = echarts.init(document.getElementById('left2'), 'dark');
    
        var option = {
            title: {
                text: "评论数Top10总和排行",
                textStyle: {
                    color: 'white',
                },
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                data: [],
                orient: 'horizontal',
                top: 'bottom'
            },
            series: [{
                name: '评论数',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };
    
        {% for type, num in comment_sum.items() %}
        option.legend.data.push("{{ type }}");
        option.series[0].data.push({value: {{ num }}, name: "{{ type }}"});
        {% end %}

        left2Chart.setOption(option);
    </script>
    <!--right1-->
    <script>
        var right1Chart = echarts.init(document.getElementById('right1'), 'dark');

        var option = {
            title: {
                text: "作者出现次数Top10排行",
                textStyle: {
                    color: 'white',
                },
                left: 'center'
            },
            color: ['#3398DB'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            xAxis: {
                type: 'category',
                data: [],
                axisLabel: {
                    rotate: 45
                }
            },
            yAxis: {
                type: 'value',
                //y轴字体设置
                axisLabel: {
                    show: true,
                    color: 'white',
                    fontSize: 12,
                    formatter: function(value) {
                        if (value >= 1000) {
                            value = value / 1000 + 'k';
                        }
                        return value;
                    }
                },
            },
            series: [{
                data: [],
                type: 'bar',
                barMaxWidth: "50%"
            }]
        };

        {% for author, num in author_counts.items() %}
            option.xAxis.data.push("{{ author }}");
            option.series[0].data.push({{ num }});
        {% end %}

        right1Chart.setOption(option);
    </script>
    <!--right2-->
    <script>
        var right2Chart = echarts.init(document.getElementById('right2'), 'dark');

        var option = {
            title: {
                text: "评论数Top10总和排行",
                textStyle: {
                    color: 'white',
                },
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            xAxis: {
                type: 'category',
                data: [],
                axisLabel: {
                    rotate: 45
                }
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    show: true,
                    color: 'white',
                    fontSize: 12,
                    formatter: function(value) {
                        if (value >= 1000) {
                            value = value / 1000 + 'k';
                        }
                        return value;
                    }
                },
            },
            series: [{
                data: [],
                type: 'bar',
                barMaxWidth: "50%"
            }]
        };

        {% for type, num in comment_sum.items() %}
            option.xAxis.data.push("{{ type }}");
            option.series[0].data.push({{ num }});
        {% end %}

        right2Chart.setOption(option);
    </script>
</body>

</html>